<tr>
  <td><%= railway_station.title %></td>
  <td><%= link_to t('common.show'), [:admin, railway_station] %></td>
  <td><%= link_to t('common.edit'), edit_admin_railway_station_path(railway_station) %></td>
  <td><%= link_to t('common.destroy'),
                  [:admin, railway_station],
                  method: :delete,
                  data: { confirm: t('common.sure') } %></td>
</tr>
