<tr>
  <td><%= railway_station.title %></td>
  <td><%= link_to 'Show', [:admin, railway_station] %></td>
  <td><%= link_to 'Edit', edit_admin_railway_station_path(railway_station) %></td>
  <td><%= link_to 'Destroy',
                  [:admin, railway_station],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
</tr>
