<h1><%= t('common.railway_stations') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.station_title') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @railway_stations %>
  </tbody>
</table>

<br>

<%= link_to t('.new_station'), new_admin_railway_station_path %>
