<p>
  <strong><%= t('.route_trains') %>:</strong>
</p>

<p>
  <% if @route.trains.empty? %>
    <%= t('common.empty') %>
  <% else %>
  <ul>
    <% @route.trains.each do |train| %>
      <li><%= train.number %></li>
    <% end %>
  </ul>
<% end%>
</p>
