<p><strong><%= t('.route_trains') %>:</strong></p>

<p>
  <% if @route.trains.empty? %>
    <%= t('common.empty') %>
  <% else %>
  <table class="table table-bordered">
    <tbody>
      <% @route.trains.each do |train| %>
          <tr><td><%= train.number %></td></tr>
      <% end %>
    </tbody>
  </table>

  </ul>
<% end%>
</p>
