<h1><%= t('common.routes') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.route_title') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @routes %>
  </tbody>
</table>

<%= link_to t('.new_route'), new_admin_route_path %>
