<h1 class="page-header">
  <div class="row">
    <div class="col-md-6">
      <%= t('common.routes') %>
    </div>
    <div class="col-md-6 text-right">
      <%= link_to t('.new_route'), new_admin_route_path, class: 'btn btn-primary' %>
    </div>
  </div>
</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t('.route_title') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @routes %>
  </tbody>
</table>
