<h1>Listing Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Train</th>
      <th>Start Station</th>
      <th>End Station</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>

<br>
