<tr>
  <td><%= station.title %></td>
  <td><%= link_to 'Destroy',
                  destroy_station_path(station_id: station.id),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
</tr>
