<p>
  <strong>Railway station in the Route:</strong>
</p>

<p>
  <% if @route.railway_stations.empty? %>
    Empty list
  <% else %>
  <ul>
    <% @route.railway_stations.each do |station| %>
      <li><%= station.title %></li>
    <% end %>
  </ul>
<% end%>
</p>
