<h1><%= t('common.trains') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.number') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @trains %>
  </tbody>
</table>

<br>

<%= link_to t('.new_train'), new_admin_train_path %>
