<% # TODO: сделвть локализацию после мерджа 18го задания %>
<p>Привет, <%= @user.full_name %></p>

<p>Вы купили билет по маршруту "<%= @ticket.route_name %>"</p>
<p>Посмотреть билет вы можете <%= link_to 'здесь', @ticket   %></p>
<p>Все свои билеты вы можете посмотреть <%= link_to 'здесь', tickets_url   %></p>
