<% # TODO: сделать локализацию после мерджа 18го задания %>
<p>Привет, <%= @user.full_name %></p>

<p>Вы отменили покупку билета по маршруту "<%= @ticket.route_name %>"</p>
<p>Все свои билеты вы можете посмотреть <%= link_to 'здесь', tickets_url   %></p>
